// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: rgba(195, 20, 50, 1);
  background: linear-gradient(rgba(195, 20, 50, 1) 0%, rgba(153, 61, 77, 1) 100%);
  color: #b0b0b0;
}
